name: Continuous Integration

on:
  push:
    branches: [ master ]

jobs:
  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: mkdir
      run: mkdir ci_windows
    - name: build
      run: |
          cmake ../src
          cmake --build . --config Release
      working-directory: ./ci_windows
    - name: mkdir_gui
      run: mkdir build
      working-directory: ./gui
    - name: checkout_gui
      run: git clone https://github.com/captainys/public.git
      working-directory: ./gui/src
    - name: build_gui
      run: |
          cmake ../src
          cmake --build . --config Release --target Tsugaru_GUI
      working-directory: ./gui/build
    - name: make_zip
      run: |
          cmake -E copy ./main_cui/Release/Tsugaru_CUI.exe .
          cmake -E copy ../gui/build/main_gui/Release/Tsugaru_GUI.exe .
          cmake -E copy ../readme.md .
          cmake -E copy ../command.md .
          cmake -E tar cvf windows_binary_latest.zip --format=zip Tsugaru_CUI.exe Tsugaru_GUI.exe readme.md command.md
      working-directory: ./ci_windows
    - name: upload_to_artifact
      uses: actions/upload-artifact@v1
      with:
          name: Windows-Binary
          path: ci_windows/windows_binary_latest.zip



  build-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: mkdir
      run: mkdir ci_ubuntu
    - name: install-OpenGL
      run: sudo apt-get install libglu1-mesa-dev mesa-common-dev
    - name: install-ALSA
      run: sudo apt-get install libasound2 libasound2-dev
    - name: cmake
      run: cmake ../src -DCMAKE_BUILD_TYPE=Release
      working-directory: ./ci_ubuntu
    - name: build
      run: cmake --build . --config Release --target Tsugaru_CUI
      working-directory: ./ci_ubuntu

    - name: mkdir_gui
      run: mkdir build
      working-directory: ./gui
    - name: checkout_gui
      run: git clone https://github.com/captainys/public.git
      working-directory: ./gui/src
    - name: build_gui
      run: |
          cmake ../src -DCMAKE_BUILD_TYPE=Release
          cmake --build main_gui --config Release --target Tsugaru_GUI
      working-directory: ./gui/build

    - name: make_zip
      run: |
          cmake -E copy ./main_cui/Tsugaru_CUI .
          cmake -E copy ../gui/build/main_gui/Release/Tsugaru_GUI .
          cmake -E copy ../readme.md .
          cmake -E copy ../command.md .
          cmake -E tar cvf ubuntu_binary_latest.zip --format=zip Tsugaru_CUI Tsugaru_GUI readme.md command.md
      working-directory: ./ci_ubuntu
    - name: upload_to_artifact
      uses: actions/upload-artifact@v1
      with:
          name: Ubuntu-Binary
          path: ci_ubuntu/ubuntu_binary_latest.zip



  build-macos:

    runs-on: macos-10.15

    steps:
    - uses: actions/checkout@v2
    - name: mkdir
      run: mkdir ci_macos
    - name: cmake
      run: cmake ../src -DCMAKE_BUILD_TYPE=Release
      working-directory: ./ci_macos
    - name: build
      run: cmake --build .
      working-directory: ./ci_macos
    - name: make_zip
      run: |
          cmake -E copy_directory ./main_cui/Tsugaru_CUI.app ./Tsugaru_CUI.app
          cmake -E copy ../readme.md .
          cmake -E copy ../command.md .
          cmake -E tar cvf macos_binary_latest.zip --format=zip Tsugaru_CUI.app readme.md command.md
      working-directory: ./ci_macos
    - name: upload_to_artifact
      uses: actions/upload-artifact@v1
      with:
          name: Macos-Binary
          path: ci_macos/macos_binary_latest.zip


  after-build:
    needs: [build-windows, build-linux, build-macos]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v2
      with:
        name: Windows-Binary

    - uses: actions/download-artifact@v2
      with:
        name: Ubuntu-Binary

    - uses: actions/download-artifact@v2
      with:
        name: Macos-Binary

    - name: Verify files
      run: ls -l

      # From here, I need to create a release.

